doctype html
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/ico')
    link(rel='stylesheet', type='text/css', href='/stylesheets/materialize.min.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/stylesheets/custom.css')

  body.index
    block content
    script(type='text/javascript', src='/build/bundle.js')
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/materialize.min.js')