body.index
{
	background-image: url('/images/cork-board.jpg');
	background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.nav-wrapper
{
	background-color: #795548;
}
.card .card-action 
{
	text-align: right;
}
.fixed-action-btn
{
	position: static;
}
.fixed-action-btn.horizontal ul 
{
	right: 80px;
}
.banner 
{
	position: relative;
	color: #3e2723;
	text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
	text-align: center;
	background-image: url('/images/h2.jpg');
	padding: 1em 0 1em 0;
	margin: 0;
	background-size: 80% auto;
}
.container
{
	background-color: #795548;
	font-color:#fff;
}
.container2
{
	background-color: #795548;
}
footer.footer-bar
{
	background-color: #795548;
	padding-top: 15px;
	padding-bottom: 20px;
	position: relative;
	width:100%;
}
footer.footer-bar-absolute
{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.logbtn
{
	color: #3e2723;
	font-weight: 20px;
	font-family: arial;
} 
.progress
{
	color: #795548;
}
